@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5px 5px 5px 5px
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 51.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: relative;
  min-height: 99vh
}
.no-webp .header__background-image {
  background-image: url(../img/header/airplane-wing-and-mountains-Original-scaled-2000x1250.jpg)
}
.header__background-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(.7);
  filter: brightness(.7)
}
.header__logo {
  position: relative;
  top: 30px;
  left: 15px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.header__logo._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.header__title {
  position: absolute;
  width: 70%;
  left: 25px;
  bottom: 75px;
  color: #fff
}
.header__title._active {
  transition: all .8s ease .4s
}
.title {
  font-size: 70px;
  line-height: 86px;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  opacity: 0;
  transition: all .8s ease 0s
}
.title._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.footer {
  position: relative;
  background-color: #ecd0c0;
  height: 500px;
  border-radius: 15px;
  margin: 0 0 5px 0;
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%);
  opacity: 0;
  transition: all 1.6s ease 0s
}
.footer__title {
  max-width: 800px;
  letter-spacing: 2.08px;
  margin: 150px 0 0 0
}
.footer__form {
  position: relative;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.footer__form._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.footer__input-email-field {
  font-size: 70px;
  line-height: 86px;
  max-width: 800px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #0d231f;
  background-color: #ecd0c0;
  outline: 0;
  padding: 0 5px 0 0
}
.footer__button-submit {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 42px;
  height: 42px;
  background-image: url(../img/next-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0d231f;
  border-radius: 42px;
  cursor: pointer;
  transition: all .5s ease 0s
}
body.hasHover .footer__button-submit:hover {
  opacity: .5
}
.footer__paragraph {
  max-width: 440px;
  line-height: 22px;
  margin: 30px 0 0 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.footer__paragraph._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.footer._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
::-webkit-input-placeholder {
  color: #0d231f;
  opacity: .3
}
:-ms-input-placeholder {
  color: #0d231f;
  opacity: .3
}
::-ms-input-placeholder {
  color: #0d231f;
  opacity: .3
}
::placeholder {
  color: #0d231f;
  opacity: .3
}
:-ms-input-placeholder {
  color: #0d231f;
  opacity: .3
}
::-ms-input-placeholder {
  color: #0d231f;
  opacity: .3
}
.title {
  font-size: 70px;
  line-height: 86px;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  opacity: 0;
  transition: all .8s ease 0s
}
.travel-companies {
  position: relative;
  background-color: #f0f1e6;
  border-radius: 15px;
  margin: 5px 0 -20px 0;
  z-index: 2;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all .8s ease 0s
}
.travel-companies__container {
  min-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.travel-companies__title {
  max-width: 682px;
  font-size: 36px;
  line-height: 40px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.travel-companies__title._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.travel-companies__text {
  max-width: 626px;
  line-height: 22px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.travel-companies__text._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.travel-companies._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.travel-companies-slider {
  padding: 30px 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.travel-companies-slider__slide .travel-companies-slider__image {
  opacity: .1;
  transition: all .5s ease 0s
}
.travel-companies-slider._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.swiper-slide-active .travel-companies-slider__image,
.swiper-slide-next .travel-companies-slider__image,
.swiper-slide-prev .travel-companies-slider__image {
  opacity: 1
}
.founders {
  background-color: #d7dfd1;
  border-radius: 15px;
  margin: 0 0 5px 0;
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0;
  transition: all .8s ease 0s
}
.founders__container {
  max-width: 758px;
  min-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.founders__blockquotes::before {
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 65px;
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../img/main/2nd-section-founders/quotes.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 42px;
  background-color: rgba(255,255,255,.5);
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.founders__blockquotes._active.founders__blockquotes::before {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease 1.5s
}
.founders__blockquotes {
  position: relative
}
.founders__blockquote {
  position: absolute;
  top: 50px;
  opacity: 0;
  transition: all .5s ease 0s;
  padding: 10px;
  max-width: 700px
}
.founders__blockquote.active {
  opacity: 1
}
.founders__title {
  position: relative;
  margin: 0 0 50px 80px;
  font-size: 27px;
  line-height: 35px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.founders__title._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.founders__text {
  line-height: 22px;
  margin: 0 0 0 80px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.founders__text._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.founders._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.founders-slider-global-wrapper {
  -webkit-transform: translate(0,80%);
  transform: translate(0,80%);
  opacity: 0;
  transition: all .8s ease 0s
}
.founders-slider-global-wrapper._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.founders-slider {
  min-height: 180px;
  width: 610px;
  overflow: hidden;
  margin: 0 0 0 80px
}
.founders-slider__wrapper {
  left: 40px;
  min-height: 60px;
  align-items: center
}
.founders-slider__slide {
  position: relative
}
.founders-slider__image {
  width: 28px;
  height: 28px
}
.founders-slider__image img {
  width: 28px;
  height: 28px
}
.founders-slider__text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 235px;
  top: 60px;
  left: -35px;
  line-height: 22px
}
.founders-slider__text h6 {
  font-weight: 700
}
.founders-slider-buttons .swiper-button-next::after,
.founders-slider-buttons .swiper-button-prev::after {
  opacity: 0
}
.button-prev {
  width: 42px;
  height: 42px;
  background-image: url(../img/prev-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,.5);
  border-radius: 42px;
  cursor: pointer;
  transition: all .5s ease 0s
}
.button-next {
  width: 42px;
  height: 42px;
  background-image: url(../img/next-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,.5);
  border-radius: 42px;
  cursor: pointer;
  transition: all .5s ease 0s
}
body.hasHover .button-prev:hover {
  background-image: url(../img/prev-arrow-white.svg);
  background-color: #0d231f
}
body.hasHover .button-next:hover {
  background-image: url(../img/next-arrow-white.svg);
  background-color: #0d231f
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 10px
}
.swiper-button-prev {
  left: -30px
}
.swiper-button-next {
  left: 720px
}
.swiper-slide .founders-slider__image {
  transition: all .5s ease 0s;
  opacity: .5
}
body.hasHover .founders-slider__image:hover {
  opacity: 1;
  cursor: pointer
}
.swiper-slide-active .founders-slider__image {
  -webkit-transform: scale(2.15);
  transform: scale(2.15);
  transition: all .5s ease 0s;
  opacity: 1;
  cursor: auto
}
.swiper-slide-active .founders-slider__text {
  visibility: visible;
  opacity: 1;
  transition: all .5s ease 0s
}
.frameworks {
  position: relative;
  background-color: #ddeee8;
  margin: 0 0 -20px 0;
  border-radius: 15px;
  z-index: 2;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all .8s ease 0s
}
.frameworks__container {
  min-height: 1000px;
  position: relative
}
.frameworks__title {
  padding: 100px 0 0 20px;
  width: 1100px
}
.frameworks._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.frameworks-slider {
  margin: 40px 0 0 0;
  -webkit-transform: translate(0,60%);
  transform: translate(0,60%);
  opacity: 0;
  transition: all .8s ease 0s
}
.frameworks-slider__slide {
  max-width: 532px
}
.frameworks-slider__link {
  position: relative
}
.frameworks-slider__image img {
  max-width: 100%;
  border-radius: 15px;
  transition: all .5s ease 0s
}
.frameworks-slider__text {
  position: relative
}
.frameworks-slider__text h5 {
  position: absolute;
  bottom: 28px;
  left: 20px;
  max-width: 398px;
  font-size: 42px;
  line-height: 46px;
  color: #fff;
  transition: all .5s ease 0s
}
.frameworks-slider__text p {
  position: absolute;
  bottom: 22px;
  left: 25px;
  max-width: 398px;
  font-size: 18px;
  line-height: 28px;
  color: transparent;
  transition: all .5s ease 0s
}
.frameworks-slider__button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  width: 42px;
  height: 42px;
  background-image: url(../img/next-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 42px;
  background-color: #fff;
  transition: all .5s ease 0s;
  opacity: 0
}
.frameworks-slider._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
body.hasHover .frameworks-slider__slide:hover .frameworks-slider__text h5 {
  bottom: 52px
}
body.hasHover .frameworks-slider__slide:hover .frameworks-slider__text p {
  color: #fff
}
body.hasHover .frameworks-slider__slide:hover .frameworks-slider__image img {
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
  border-radius: 25px
}
body.hasHover .frameworks-slider__slide:hover .frameworks-slider__button {
  opacity: 1
}
.swiper-slide .frameworks-slider__link {
  pointer-events: none;
  opacity: .5;
  transition: all .5s ease 0s
}
.swiper-slide-active .frameworks-slider__link,
.swiper-slide-next .frameworks-slider__link {
  pointer-events: auto;
  opacity: 1
}
.frameworks-slider-buttons {
  position: absolute;
  top: 745px;
  left: 720px;
  opacity: 0;
  transition: all .8s ease 0s
}
.frameworks-slider-buttons._active {
  opacity: 1;
  transition: all .8s ease 1s
}
.frameworks-slider-button-next,
.frameworks-slider-button-prev {
  display: inline-block;
  position: absolute
}
.frameworks-slider-button-next {
  left: 55px
}
.frameworks-text {
  max-width: 550px;
  line-height: 22px;
  padding: 60px 0 50px 20px
}
.frameworks-text__1 {
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.frameworks-text__1._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.frameworks-text__2 {
  margin: 40px 0 0 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.frameworks-text__2._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.booking {
  position: relative;
  min-height: 99vh;
  margin: 0 0 5px 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all 1.4s ease 0s
}
.no-webp .booking__background-image {
  background-image: url(../img/main/4th-section-booking/house-in-the-mountains.jpg)
}
.booking__background-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(.7);
  filter: brightness(.7)
}
.booking._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.booking-text {
  position: relative;
  top: 90px;
  color: #ddeee8
}
.booking-text__title {
  max-width: 800px;
  font-size: 46px;
  line-height: 50px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.booking-text__title._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .8s
}
.booking-text__paragraph {
  max-width: 600px;
  font-size: 20px;
  line-height: 26px;
  margin: 40px 0 100px 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.booking-text__paragraph._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease 1.2s
}
.sustainably {
  position: relative;
  background-color: #e9f1f3;
  border-radius: 15px;
  margin: 0 0 -20px 0;
  z-index: 2;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all .8s ease 0s
}
.sustainably__container {
  position: relative
}
.sustainably__content {
  position: relative;
  z-index: 2
}
.sustainably__title {
  padding: 60px 15px 60px 40px;
  width: 100%;
  max-width: 800px;
  letter-spacing: 2.08px;
  font-size: 60px;
  line-height: 70px
}
.sustainably__rows {
  max-width: 800px;
  min-height: 350px;
  margin: 40px 0 0 0
}
.sustainably__rows span {
  opacity: 0;
  transition: all .8s ease 0s
}
.sustainably__rows._active span:nth-child(1) {
  opacity: 1;
  transition: all .8s ease .4s
}
.sustainably__rows._active span:nth-child(2) {
  opacity: 1;
  transition: all .8s ease .8s
}
.sustainably__rows._active span:nth-child(3) {
  opacity: 1;
  transition: all .8s ease 1.2s
}
.sustainably__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  min-height: 110px;
  height: 100%;
  background: #fff;
  border-radius: 15px
}
.sustainably__row:not(:last-child) {
  margin: 0 0 7px 0
}
.sustainably__value {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.08px;
  margin: 10px 0 0 20px;
  max-width: 24.99999%
}
.sustainably .sustainably__value span {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: 2.4px
}
.sustainably__text {
  line-height: 22px;
  flex: 0 0 58.33331%;
  max-width: 58.33331%;
  margin: 10px
}
.sustainably__block-starandlink {
  max-width: 16.66666%;
  margin: 10px 20px;
  padding: 10px 0
}
.sustainably__star {
  width: 32px;
  height: 32px;
  background-image: url(../img/main/5th-section-sustainably/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e9f1f3;
  border-radius: 16px;
  cursor: pointer;
  transition: all .5s ease 0s
}
.sustainably__link {
  position: absolute;
  max-width: 330px;
  padding: 20px 240px 20px 25px;
  bottom: -30px;
  right: 15px;
  background: #0d231f;
  border-radius: 15px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .5s ease 0s
}
.sustainably__link a {
  line-height: 22px;
  letter-spacing: .17px;
  color: #fff;
  text-decoration: underline;
  opacity: .8
}
.sustainably__paragraph {
  padding: 50px 0 115px 25px;
  max-width: 550px;
  line-height: 22px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.sustainably__paragraph._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .8s
}
.sustainably__image img {
  position: absolute;
  z-index: 1;
  width: 660px;
  height: 660px;
  top: 120px;
  right: -300px;
  border-radius: 330px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all 1.8s ease 0s
}
.sustainably__image._active img {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.sustainably._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.sustainably__block-starandlink:hover .sustainably__link {
  opacity: 1;
  visibility: visible;
  pointer-events: all
}
body.hasHover .sustainably__star:hover {
  background-image: url(../img/main/5th-section-sustainably/white-star.svg);
  background-color: #0d231f
}
body.hasHover .sustainably__link a:hover {
  opacity: 1
}
.postulates {
  position: relative;
  min-height: 100vh;
  margin: 0 0 5px 0;
  border-radius: 15px;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all .8s ease 0s
}
.postulates__background-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .4s ease 0s;
  z-index: -1;
  opacity: 0
}
.no-webp .postulates__background-image.one {
  background-image: url(../img/main/6th-section-postulates/elephants.png)
}
.no-webp .postulates__background-image.two {
  background-image: url(../img/main/6th-section-postulates/nature-underwater.png)
}
.no-webp .postulates__background-image.three {
  background-image: url(../img/main/6th-section-postulates/house-on-the-mountain.png)
}
.no-webp .postulates__background-image.four {
  background-image: url(../img/main/6th-section-postulates/blue-sky-and-mountains.png)
}
.postulates__background-image.one.active {
  opacity: 1
}
.postulates__background-image.two.active {
  opacity: 1
}
.postulates__background-image.three.active {
  opacity: 1
}
.postulates__background-image.four.active {
  opacity: 1
}
.postulates__container {
  position: relative;
  height: 100vh
}
.postulates__first-paragraph {
  max-width: 300px;
  top: 90px;
  left: 25px;
  padding: 90px 0 0 25px;
  font-size: 18px;
  line-height: 23px;
  color: #f0f1e6;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.postulates__first-paragraph._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .2s
}
.postulates__list-items {
  margin: 25px 0 0 40px
}
.postulates__list-items li {
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.postulates__list-items._active li:nth-child(1) {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: .5;
  transition: all .8s ease 0s
}
.postulates__list-items._active li:nth-child(3) {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: .5;
  transition: all .8s ease .4s
}
.postulates__list-items._active li:nth-child(5) {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: .5;
  transition: all .8s ease .8s
}
.postulates__list-items._active li:nth-child(7) {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: .5;
  transition: all .8s ease 1.2s
}
.postulates__list-item {
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1.08px;
  color: #fff;
  cursor: pointer
}
.postulates__list-item:not(:last-child) {
  margin: 0 0 30px 0
}
.postulates__list-items._active li:nth-child(1).postulates__list-item.yellow.active {
  color: #eaeab6;
  opacity: 1;
  transition: all .5s ease 0s
}
.postulates__list-items._active li:nth-child(3).postulates__list-item.blue.active {
  color: #b0ebeb;
  opacity: 1;
  transition: all .5s ease 0s
}
.postulates__list-items._active li:nth-child(5).postulates__list-item.pink.active {
  color: #e0bcaa;
  opacity: 1;
  transition: all .5s ease 0s
}
.postulates__list-items._active li:nth-child(7).postulates__list-item.gray.active {
  color: #ddd7ec;
  opacity: 1;
  transition: all .5s ease 0s
}
.postulates__number-item {
  position: absolute;
  width: 32px;
  height: 32px;
  left: -45px;
  top: 5px;
  font-size: 16px;
  line-height: 21px;
  padding-left: 12px;
  padding-top: 6px;
  color: #0d231f;
  background-color: #fff;
  letter-spacing: 1.08px;
  border-radius: 32px;
  transition: all .5s ease 0s
}
.postulates__number-item.yellow.active {
  background: #eaeab6
}
.postulates__number-item.blue.active {
  background: #b0ebeb
}
.postulates__number-item.pink.active {
  background: #e0bcaa
}
.postulates__number-item.gray.active {
  background: #ddd7ec
}
.postulates__second-paragraph {
  position: absolute;
  left: 25px;
  bottom: 70px;
  width: 100%;
  max-width: 590px;
  line-height: 22px;
  padding: 0 50px 0 0;
  color: #fff;
  opacity: 0;
  transition: all .8s ease 0s
}
.postulates__second-paragraph._active.active {
  opacity: 1;
  transition: all .8s ease .8s
}
.postulates__second-paragraph.yellow {
  color: #eaeab6
}
.postulates__second-paragraph.blue {
  color: #b0ebeb
}
.postulates__second-paragraph.pink {
  color: #e0bcaa
}
.postulates__second-paragraph.gray {
  color: #ddd7ec
}
.postulates._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.partnership-rules {
  position: relative;
  height: 100%;
  max-height: 800px;
  background-color: #f0f1e6;
  border-radius: 15px;
  margin: 0 0 -20px 0;
  z-index: 2;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  transition: all .8s ease 0s
}
.partnership-rules__container {
  height: 800px;
  position: relative
}
.partnership-rules__link {
  position: absolute;
  left: 25px;
  bottom: 100px;
  line-height: 22px;
  letter-spacing: .17px;
  padding: 10px 20px;
  box-shadow: 0 5px 1px rgba(0,0,0,.5);
  background: #dedfce;
  color: #0d231f;
  border-radius: 42px;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.partnership-rules__link._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .6s
}
.partnership-rules__link:active {
  position: absolute;
  bottom: 97px;
  box-shadow: 0 2px 1px rgba(0,0,0,.5)
}
body.hasHover .partnership-rules__link:hover {
  background-color: #0d231f;
  color: #fff
}
.partnership-rules._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.partnership-rules-text {
  max-width: 630px;
  padding: 100px 0 0 25px
}
.partnership-rules-text__title {
  letter-spacing: 2.08px
}
.partnership-rules-text__paragraph {
  line-height: 22px;
  margin: 25px 0 0 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.partnership-rules-text__paragraph._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.partnership-rules-slider {
  margin: 40px 0 0 0;
  -webkit-transform: translate(0,80%);
  transform: translate(0,80%);
  opacity: 0;
  transition: all .8s ease 0s
}
.partnership-rules-slider__slide {
  position: relative;
  max-width: 398px;
  width: 100%;
  height: 300px;
  background: #fff;
  border-radius: 15px
}
.partnership-rules-slider._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .4s
}
.partnership-rules-slide__number {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 25px;
  top: 25px;
  background: #0d231f;
  border-radius: 42px
}
.partnership-rules-slide__number span {
  position: absolute;
  left: 16px;
  top: 10px;
  font-size: 18px;
  line-height: 23px;
  color: #f6f3ea
}
.partnership-rules-slide__text {
  position: relative;
  max-width: 340px;
  left: 25px;
  top: 143px;
  letter-spacing: .56px;
  padding: 0 10px 10px 0
}
.partnership-rules-slide__title {
  font-size: 25px;
  line-height: 31px
}
.partnership-rules-slide__paragraph {
  line-height: 22px;
  margin: 7px 0 0 0
}
.swiper-slide .partnership-rules-slide__opacity {
  opacity: .3;
  transition: all .5s ease 0s
}
.swiper-slide-active .partnership-rules-slide__opacity,
.swiper-slide-next .partnership-rules-slide__opacity {
  opacity: 1
}
.partnership-rules-slider-buttons {
  position: absolute;
  bottom: 142px;
  right: 0;
  -webkit-transform: translate(0,120%);
  transform: translate(0,120%);
  opacity: 0;
  transition: all .8s ease 0s
}
.partnership-rules-slider-buttons._active {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all .8s ease .8s
}
.partnership-rules-slider-button-next,
.partnership-rules-slider-button-prev {
  position: absolute;
  display: inline-block;
  background-color: #dedfce
}
.partnership-rules-slider-button-next {
  left: 55px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (max-width:1365.98px) {
  .frameworks__title {
    max-width: 800px
  }
  .frameworks-slider-buttons {
    top: 950px;
    left: 600px
  }
  .partnership-rules-slider-buttons {
    right: 50px
  }
}
@media (max-width:991.98px) {
  .title {
    font-size: 56px;
    line-height: 58px
  }
  .footer {
    height: 350px
  }
  .footer__title {
    margin: 80px 0 0 0
  }
  .footer__input-email-field {
    font-size: 56px;
    line-height: 58px
  }
  .footer__button-submit {
    bottom: 10px
  }
  .travel-companies-slider {
    width: 628px
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 90px
  }
  .swiper-button-prev {
    left: 600px
  }
  .swiper-button-next {
    left: 650px
  }
  .frameworks__title {
    max-width: 700px
  }
  .frameworks-slider__text h5 {
    bottom: 52px
  }
  .frameworks-slider__text p {
    color: #fff
  }
  .frameworks-slider__image img {
    -webkit-filter: brightness(.5);
    filter: brightness(.5)
  }
  .frameworks-slider__button {
    opacity: 1
  }
  .frameworks-slider-buttons {
    top: 780px
  }
  .partnership-rules-slider-buttons {
    right: 200px
  }
}
@media (max-width:840px) {
  .founders__blockquotes::before {
    left: 20px
  }
}
@media (max-width:767.98px) {
  .title {
    font-size: 36px;
    line-height: 38px
  }
  .footer__form {
    margin: 20px 0 0 0
  }
  .footer__input-email-field {
    font-size: 36px;
    line-height: 38px;
    width: 90%
  }
  .footer__button-submit {
    bottom: 5px
  }
  .travel-companies__title {
    font-size: 26px;
    line-height: 30px
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none
  }
  .frameworks__title {
    max-width: 500px;
    margin-top: 50px
  }
  .frameworks-slider-buttons {
    display: none
  }
  .sustainably__title {
    margin: 60px 0 0 15px;
    font-size: 40px;
    line-height: 44px
  }
  .sustainably__value {
    flex: 0 0 99.99996%;
    max-width: 99.99996%
  }
  .sustainably__text {
    flex: 0 0 66.66664%;
    max-width: 66.66664%
  }
  .sustainably__link {
    max-width: 200px;
    padding: 15px 200px 15px 15px
  }
  .sustainably__image img {
    opacity: .5!important
  }
  .partnership-rules-text {
    margin: 50px 0 0 25px
  }
  .swiper-slide .partnership-rules-slide__opacity {
    opacity: .3
  }
  .swiper-slide-active .partnership-rules-slide__opacity {
    opacity: 1
  }
  .partnership-rules-slider-buttons {
    display: none
  }
}
@media (max-width:649.98px) {
  .founders__container {
    min-height: 650px
  }
}
@media (max-width:600px) {
  .frameworks__title {
    max-width: 320px
  }
  .postulates__list-item {
    font-size: 30px;
    line-height: 30px
  }
  .postulates__list-item:not(:last-child) {
    margin: 0 0 15px 0
  }
  .postulates__number-item {
    top: 0
  }
}
@media (max-width:599.98px) {
  .founders__title {
    margin: 30px 0 0 20px
  }
  .founders__text {
    margin: 0 0 0 20px;
    padding: 30px 0 30px 0
  }
  .founders__blockquotes::before {
    left: 20px;
    top: 30px
  }
}
@media (max-width:550px) {
  .sustainably__link {
    padding: 10px 150px 10px 15px
  }
}
@media (max-width:500px) {
  .footer__input-email-field {
    font-size: 20px;
    line-height: 22px;
    width: 85%
  }
  .frameworks-slider__text h5 {
    max-width: 300px;
    font-size: 28px;
    line-height: 42px;
    bottom: 52px
  }
  .frameworks-slider__text p {
    max-width: 200px;
    font-size: 14px;
    line-height: 14px;
    bottom: 18px
  }
  .frameworks-slider__button {
    right: 15px
  }
  .partnership-rules__link {
    bottom: 50px
  }
  .partnership-rules__link:active {
    bottom: 47px
  }
}
@media (max-width:479.98px) {
  .founders__container {
    min-height: 750px
  }
}
@media (max-width:450px) {
  .postulates__list-item {
    font-size: 26px;
    line-height: 26px
  }
  .postulates__first-paragraph {
    margin: 30px 0 0 25px
  }
  .postulates__second-paragraph {
    bottom: 20px;
    line-height: 20px
  }
}
@media (max-width:425px) {
  .booking-text__title {
    font-size: 32px;
    line-height: 36px
  }
  .booking-text__paragraph {
    font-size: 17px;
    line-height: 22px
  }
}
@media (max-width:399.98px) {
  .founders__container {
    min-height: 850px
  }
}
@media (max-width:349.98px) {
  .founders__container {
    min-height: 900px
  }
  .founders-slider {
    margin: 0 0 0 40px
  }
}
@media (max-height:600px) {
  .postulates {
    min-height: 150vh
  }
  .postulates__container {
    height: 150vh
  }
  .postulates__list-item {
    font-size: 30px;
    line-height: 30px
  }
  .postulates__list-item:not(:last-child) {
    margin: 0 0 15px 0
  }
  .postulates__number-item {
    top: 0
  }
}
.webp .header__background-image {
  background-image: url(../img/header/airplane-wing-and-mountains-Original-scaled-2000x1250.webp)
}
.webp .booking__background-image {
  background-image: url(../img/main/4th-section-booking/house-in-the-mountains.webp)
}
.webp .postulates__background-image.one {
  background-image: url(../img/main/6th-section-postulates/elephants.webp)
}
.webp .postulates__background-image.two {
  background-image: url(../img/main/6th-section-postulates/nature-underwater.webp)
}
.webp .postulates__background-image.three {
  background-image: url(../img/main/6th-section-postulates/house-on-the-mountain.webp)
}
.webp .postulates__background-image.four {
  background-image: url(../img/main/6th-section-postulates/blue-sky-and-mountains.webp)
}